body{
  text-align: center;
  background: wheat;
}
#mainDiv{
  flex-wrap: wrap;
  justify-content: space-between;
}




/*ANCHOR - card */
//.tile{
//  width: 50px;
//  height: 50px;
//  margin: 20px;
//  border: 1px solid black
//}