body{
  text-align: center;
}
#jeuDiv{
  flex-wrap: wrap;
  justify-content: center;
}
#victoire{
  padding-bottom: 40px;
  margin: auto;
  width: 50%;
  background-color: #C0C0C0;
  text-align: center;
}

/*ANCHOR - card */
.tile{
  margin: 10px;
}
.red{
  background: #f50808;
} 
.blue{
  background:  #002efe;
}
.green{
  background: #64fe00;
}
.yellow{
  background: #fefb00;
}
.orange{
  background: #FF5733;
} 
.purple{
  background:  #fe00e7;
} 
.pink{
  background: #f978a5;
} 
.brown{
  background: #6e2c00;
}

.not-revealed{
  background: #eee;
}


/*ANCHOR - background colors*/

.neon-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #DFFF00, #FF1493, #FFA500);
    background-size: 200% 200%;
    animation: neon-glow 3s ease-in-out infinite;
}

@keyframes neon-glow {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
}

.argent{
  background-color: #C0C0C0;
}

.bleu{
  background-color: #007AFF 
}