body{
  text-align: center;
  background: wheat;
}
#mainDiv{
  flex-wrap: wrap;
  justify-content: space-between;
}




/*ANCHOR - card */
.red{
  background: #f50808;
} 
.blue{
  background:  #002efe;
}
.green{
  background: #64fe00;
}
.yellow{
  background: #fefb00;
}
.orange{
  background: #FF5733;
} 
.purple{
  background:  #fe00e7;
} 
.pink{
  background: #f978a5;
} 
.brown{
  background: #6e2c00;
}

.not-revealed{
  background: #eee;
}